@import "../assets/sass/variables";
@import "../assets/sass/mixins";
@import "../assets/sass/defaultStyles";

.select-perfil-page {
  @extend %page-main;
  //background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}

.events {
  margin: auto;
  border-radius: 5px;
  overflow: hidden;
  width: 90%;

  .logo-events {
    text-align: center;

    img {
      width: 50%;
      margin: 10px 0;
    }
  }

  @include sm {
    width: 350px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

}