@import "../assets/sass/variables";
@import "../assets/sass/mixins";
@import "../assets/sass/defaultStyles";

.select-perfil-page {
  @extend %page-main;
  //background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  background: #ddd;
  overflow: scroll;
}

.events {
  margin: auto;
  border-radius: 5px;
  overflow: hidden;
  width: 90%;
  font-weight: 600;
  background: $primary-color-mel-contrast;

  @include sm {
    width: 400px;
    //box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

}

.empty-select-eventos {
  padding: 10px;
  background: #eee;
}

.buttons-event {
  margin-top: 10px;
  cursor: pointer;
}

.button-event {
  padding: 10px;
  background: #eee;
  display: flex;
  transition: ease-in-out .2s all;

  span {
    margin-top: auto;
    margin-bottom: auto;
  }

  .icon {
    margin-left: auto;
    padding: 5px;
  }
}

.button-event:hover {
  background: #ccc;
}