@import "../../../src/assets/sass/variables.sass";

.header {
  margin: 40px 0;
  color: white;
  display: flex;

  h4 {
    font-weight: 100;
  }

}

.buttons-actions {
  margin-left: auto;
  align-self: center;

  button {
    background: none;
    color: white;
    border: 1px solid white;
    padding: 10px 15px;
    border-radius: 5px;
    transition: .2s all ease-out;
  }

  button:hover {
    background: white;
    color: #222222;
  }

}

