.component-render {
  border-radius: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 0 auto  50px auto;
}


.main-component {

}

.funcionalidade-padrao {
  background: #fff;
  box-shadow:  0 0 15px rgba(0,0,0,0.3);
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  padding-bottom: 20px;
}

