@import "../../../src/assets/sass/variables";
@import "../../../src/assets/sass/mixins";

.sidebar {
  height: 100%;
  background: #325863;
  padding: 0;
  position: relative;
  transition: all .5s ease;
  width: 0;
  overflow: hidden;
  color: $primary-color-mel-contrast;

  @include md {
    width: 250px;
  }

}

.logo-bar {
  height: 64px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $primary-color-mel;
}

.logo-bar img {
  height: 80%;
}

.perfil-avatar-bar {
  height: 80px;
  width: 80px;
  overflow: hidden;
  border-radius: 50%;
  margin: auto;
  position: relative;
}

.fundo-perfil-imagem {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.fundo-perfil-imagem img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.capitalize-perfil {
  position: absolute;
  top: 0;
  left: 0;
  height: 80px;
  width: 80px;
  display: flex;

  span {
    text-align: center;
    font-size: 3.5em;
    color: white;
    font-weight: 600;
    margin: auto;
    display: flex;
  }

}

.perfil-info-bar {
  width: 100%;
  margin-top: 64px;
  padding: 20px;
}

.perfil-info {
  text-align: center;

  p {
    font-weight: 300;
  }
}

.hide {
  opacity: 0;

  @include md {
    margin-left: -250px;
  }

}
